<nav class="navbar">
    <div class="container nav-box">
      <!-- <h2 class="logo">PX to REM Converter</h2> -->
      <h2 class="logo">{{ 'navbar.title' | translate }}</h2>
      <div class="lang-wrapper">
        <button class="lang-toggle" (click)="toggleDropdown()">
          <span class="lang-icon">🌐</span>
          <span>{{ currentLangLabel }}</span>
          <span class="lang-arrow">▼</span>
        </button>
      
        <ul class="lang-dropdown" *ngIf="isOpen">
          <li
            *ngFor="let lang of languages"
            (click)="switchLang(lang.code)"
            [class.active]="lang.code === currentLang"
          >
            <span>{{ lang.flag }}</span> {{ lang.label }}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  