<nav class="navbar">
  <div class="nav-box">
    <h2 class="logo">
      <img src="../../assets/images/logo6.png" alt="ResponsiveUnits"/>
    </h2>


    <!-- Hamburger icon -->
    <div class="hamburger" (click)="toggleMenu()">☰</div>

    <!-- Right-side dropdown menu -->
    <div class="right-nav" [class.open]="menuOpen">
      <ul class="menu-items">
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">🏠 Home</a>
        </li>
        <li><a routerLink="/about">ℹ️ About</a></li>
        <!-- <li><a routerLink="/tools">🧰 Tools</a></li> -->
        <li class="dropdown">
          <a class="dropdown-toggle">🛠️ Tools</a>
          <ul class="dropdown-menu">
            <li *ngFor="let tool of tools">
              <a [routerLink]="['/converter', tool.key]" routerLinkActive="active-link">
                {{ tool.name }}
              </a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/blog" [class.active-link]="router.url === '/blog'">📰 Blog</a></li>
        <li><a routerLink="/contact" [class.active-link]="router.url === '/contact'">📨 Contact</a></li>
      </ul>

      <!-- Language selector -->
      <!-- <div class="lang-wrapper">
        <button class="lang-toggle" (click)="toggleDropdown()">
          🌐 {{ currentLangLabel }} ▼
        </button>
        <ul class="lang-dropdown" *ngIf="isOpen">
          <li *ngFor="let lang of languages" (click)="switchLang(lang.code)" [class.active]="lang.code === currentLang">
            {{ lang.flag }} {{ lang.label }}
          </li>
        </ul>
      </div> -->

      <!-- <app-theme-toggle></app-theme-toggle> -->
    </div>
  </div>
</nav>