/* Base styling */
.navbar {
  background-color: #1F2937;
  padding: 1rem;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: .5rem;
}

.hamburger {
  font-size: 1.8rem;
  cursor: pointer;
  color: #ffffff;
  display: block;
}

/* Right nav dropdown */
.right-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: #1F2937;
  padding: 1rem;
  width: 220px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.right-nav.open {
  display: flex;
}

/* Menu links */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.menu-items a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.menu-items a:hover {
  background-color: #374151;
}

.active a {
  border-bottom: 2px solid #22c55e;
}

/* Language Dropdown */
.lang-wrapper {
  position: relative;
}

.lang-toggle {
  background-color: #374151;
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.lang-dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #374151;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.4rem;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.lang-dropdown li {
  padding: 0.3rem 0.5rem;
  color: #ffffff;
  cursor: pointer;
}

.lang-dropdown li.active,
.lang-dropdown li:hover {
  background-color: #4b5563;
}

.navbar a:hover {
  background-color: #333;
}

.navbar a.active-link {
  background-color: #64748B;
  font-weight: bold;
}

/* Desktop view */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .right-nav {
    display: flex !important;
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
    width: auto;
    box-shadow: none;
    align-items: center;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
  }

  .menu-items li {
    margin: 0 0.6rem;
  }

  .lang-wrapper {
    margin-left: 1rem;
    //margin-top: -8px;
  }

  .lang-dropdown {
    width: auto;
  }
}
