.contact-container {
  max-width: 700px;
  margin: 150px auto;
  padding: 2rem;
  background-color: #1F2937;
  color: var(--text-white);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

h2 {
  margin-bottom: 1rem;
}

h2,
p {
  color: var(--text-white);
}

input,
textarea {
  width: 100% !important;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(-text-white);
  color: #1F2937;
  margin-top: 5px;
}

.error {
  color: #e74c3c;
  /* red for error text */
  font-size: 0.9rem;
  margin-top: 4px;
  display: block;
}

.field-group {
  margin-bottom: 16px;
  /* space between fields */
}

input::placeholder,
textarea::placeholder {
  background-color: var(--text-white);
  color: #1F2937;
  opacity: 0.7;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #3B82F6;
  color: var(--text-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #64748B;
}

label {
  color: #fff;
}
