<div class="container">
    <!-- <h1>PX to REM/EM/Percentage Converter</h1> -->
    <h1>{{ 'converter.title' | translate }}</h1>
    <form>
      <div class="input-group">
        <label for="pxInput">{{ 'converter.enterPxValue' | translate }}</label>
        <input type="number" [(ngModel)]="pxValue" name="pxInput" id="pxInput" />
      </div>
      <div class="input-group">
        <label for="baseFontSize">{{ 'converter.baseFontSize' | translate }}</label>
        <input type="number" [(ngModel)]="baseFontSize" name="baseFontSize" id="baseFontSize" />
      </div>
      <button type="button" (click)="convert()">{{ 'converter.buttonlabel' | translate }}</button>
    </form>
    <div *ngIf="converted">
      <div class="result">
        <p><strong>REM:</strong> {{ remValue }}rem</p>
        <p><strong>EM:</strong> {{ emValue }}em</p>
        <p><strong>Percentage:</strong> {{ percentageValue }}%</p>
      </div>
    </div>
  </div>
  