:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 70px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}
